LANGUAGE LANG_ENGLISH,SUBLANG_ENGLISH_US

1 VERSIONINFO LOADONCALL MOVEABLE DISCARDABLE IMPURE
FILEVERSION 1, 1, 0, 4776
PRODUCTVERSION 1, 1, 0, 4776
FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
FILEOS VOS__WINDOWS32
FILETYPE VFT_APP
{
  BLOCK "StringFileInfo"
  {
    BLOCK "040904E4"
    {
     VALUE "CompanyName", "Season's Fall Music\000"
     VALUE "FileDescription", "Test application for Browse and Doc It\000"
     VALUE "FileVersion", "1.1.0.4776\000"
     VALUE "InternalName", "BrowseAndDocItApp\000"
     VALUE "LegalCopyright", "Season's Fall Music\000"
     VALUE "LegalTrademarks", "Season's Fall Music\000"
     VALUE "OriginalFilename", "BrowseAndDocItApp\000"
     VALUE "ProductName", "BrowseAndDocItApp\000"
     VALUE "ProductVersion", "1.0\000"
     VALUE "Comments", "Test application for Browse and Doc It\000"
    }
  }
  BLOCK "VarFileInfo"
  {
    VALUE "Translation", 1033, 1252
  }
}
