[submodule "Virtual-Treeview-6.5.0-IDE"]
	path = Virtual-Treeview-6.5.0-IDE
	url = https://github.com/DGH2112/Virtual-Treeview-6.5.0-IDE
[submodule "Test/DDetours"]
	path = Test/DDetours
	url = https://github.com/MahdiSafsafi/DDetours.git
[submodule "Test/VCL-Styles-Utils"]
	path = Test/VCL-Styles-Utils
	url = https://github.com/RRUZ/vcl-styles-utils.git
[submodule "Test/SynEdit"]
	path = Test/SynEdit
	url = https://github.com/SynEdit/SynEdit.git
[submodule "Test/VirtualTrees"]
	path = Test/VirtualTrees
	url = https://github.com/JAM-Software/Virtual-TreeView.git
