LANGUAGE LANG_ENGLISH,SUBLANG_ENGLISH_US

1 VERSIONINFO LOADONCALL MOVEABLE DISCARDABLE IMPURE
FILEVERSION 1, 3, 1, 7924
PRODUCTVERSION 1, 3, 1, 7924
FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
FILEOS VOS__WINDOWS32
FILETYPE VFT_APP
{
  BLOCK "StringFileInfo"
  {
    BLOCK "040904E4"
    {
      VALUE "CompanyName", "Season's Fall Music\000"
      VALUE "FileDescription", "Browse and Doc It: A RAD Studio IDE plug-in to help you browse and document your code.\000"
      VALUE "FileVersion", "1.3.1.7924\000"
      VALUE "InternalName", "BrowseAndDocItTests\000"
      VALUE "LegalCopyright", "Season's Fall Music\000"
      VALUE "LegalTrademarks", "Season's Fall Music\000"
      VALUE "OriginalFilename", "BrowseAndDocItTests\000"
      VALUE "ProductName", "BrowseAndDocItTests\000"
      VALUE "ProductVersion", "1.3a\000"
      VALUE "Comments", "Browse and Doc It: A RAD Studio IDE plug-in to help you browse and document your code.\000"
    }
  }
  BLOCK "VarFileInfo"
  {
    VALUE "Translation", 1033, 1252
  }
}
