/*

  This is a Windows Resource File which generates a list of BitMaps for use
  In the Explorer Tree View.

*/
Module                          BITMAP "Images\Module.bmp"

DocConflictFolder               BITMAP "Images\DocConflictFolder.bmp"
DocConflictIncorrect            BITMAP "Images\DocConflictIncorrect.bmp"
DocConflictItem                 BITMAP "Images\DocConflictItem.bmp"
DocConflictMissing              BITMAP "Images\DocConflictMissing.bmp"

ErrorFolder                     BITMAP "Images\errorFolder.bmp"
Error                           BITMAP "Images\error.bmp"
WarningFolder                   BITMAP "Images\WarningFolder.bmp"
Warning                         BITMAP "Images\Warning.bmp"
HintFolder                      BITMAP "Images\HintFolder.bmp"
Hint                            BITMAP "Images\Hint.bmp"

UsesLabel                       BITMAP "Images\UsesLabel.bmp"
UsesItem                        BITMAP "Images\UsesItem.bmp"

PrivateTypesLabel               BITMAP "Images\PrivateTypesLabel.bmp"
ProtectedTypesLabel             BITMAP "Images\ProtectedTypesLabel.bmp"
PublicTypesLabel                BITMAP "Images\PublicTypesLabel.bmp"
PublishedTypesLabel             BITMAP "Images\PublishedTypesLabel.bmp"
LocalTypesLabel                 BITMAP "Images\LocalTypesLabel.bmp"
PrivateType                     BITMAP "Images\PrivateType.bmp"
ProtectedType                   BITMAP "Images\ProtectedType.bmp"
PublicType                      BITMAP "Images\PublicType.bmp"
PublishedType                   BITMAP "Images\PublishedType.bmp"
LocalType                       BITMAP "Images\LocalType.bmp"

RecordsLabel                    BITMAP "Images\RecordLabel.bmp"
PrivateRecord                   BITMAP "Images\privateRecord.bmp"
ProtectedRecord                 BITMAP "Images\protectedRecord.bmp"
PublicRecord                    BITMAP "Images\publicRecord.bmp"
PublishedRecord                 BITMAP "Images\publishedRecord.bmp"
LocalRecord                     BITMAP "Images\localRecord.bmp"

FieldsLabel                     BITMAP "Images\FieldsLabel.bmp"
LocalField                      BITMAP "Images\localField.bmp"
PrivateField                    BITMAP "Images\privateField.bmp"
ProtectedField                  BITMAP "Images\protectedField.bmp"
PublicField                     BITMAP "Images\publicField.bmp"
PublishedField                  BITMAP "Images\publishedField.bmp"

ObjectsLabel                    BITMAP "Images\ObjectLabel.bmp"
privateObject                   BITMAP "Images\privateObject.bmp"
protectedObject                 BITMAP "Images\protectedObject.bmp"
publicObject                    BITMAP "Images\publicObject.bmp"
publishedObject                 BITMAP "Images\publishedObject.bmp"
localObject                     BITMAP "Images\localObject.bmp"

PrivateConstructor              BITMAP "Images\privateConstructor.bmp"
ProtectedConstructor            BITMAP "Images\protectedConstructor.bmp"
PublicConstructor               BITMAP "Images\publicConstructor.bmp"
PublishedConstructor            BITMAP "Images\publishedConstructor.bmp"
LocalConstructor                BITMAP "Images\localConstructor.bmp"

PrivateDestructor               BITMAP "Images\privateDestructor.bmp"
ProtectedDestructor             BITMAP "Images\protectedDestructor.bmp"
PublicDestructor                BITMAP "Images\publicDestructor.bmp"
PublishedDestructor             BITMAP "Images\publishedDestructor.bmp"
LocalDestructor                 BITMAP "Images\localDestructor.bmp"

PrivateFunction                 BITMAP "Images\privateFunction.bmp"
ProtectedFunction               BITMAP "Images\protectedFunction.bmp"
PublicFunction                  BITMAP "Images\publicFunction.bmp"
PublishedFunction               BITMAP "Images\publishedFunction.bmp"
LocalFunction                   BITMAP "Images\localFunction.bmp"

PrivateProcedure                BITMAP "Images\privateProcedure.bmp"
ProtectedProcedure              BITMAP "Images\protectedProcedure.bmp"
PublicProcedure                 BITMAP "Images\publicProcedure.bmp"
PublishedProcedure              BITMAP "Images\publishedProcedure.bmp"
LocalProcedure                  BITMAP "Images\localProcedure.bmp"

ClassesLabel                    BITMAP "Images\ClassLabel.bmp"
PrivateClass                    BITMAP "Images\privateClass.bmp"
ProtectedClass                  BITMAP "Images\protectedClass.bmp"
PublicClass                     BITMAP "Images\publicClass.bmp"
PublishedClass                  BITMAP "Images\publishedClass.bmp"
LocalClass                      BITMAP "Images\localClass.bmp"

PropertyLabel                   BITMAP "Images\PropertyLabel.bmp"
PublicProperty                  BITMAP "Images\publicProperty.bmp"
PrivateProperty                 BITMAP "Images\privateProperty.bmp"
ProtectedProperty               BITMAP "Images\protectedProperty.bmp"
PublishedProperty               BITMAP "Images\publishedProperty.bmp"
LocalProperty                   BITMAP "Images\localProperty.bmp"

InterfacesLabel                 BITMAP "Images\InterfaceLabel.bmp"
PrivateInterface                BITMAP "Images\privateInterface.bmp"
ProtectedInterface              BITMAP "Images\protectedInterface.bmp"
PublicInterface                 BITMAP "Images\publicInterface.bmp"
PublishedInterface              BITMAP "Images\publishedInterface.bmp"
LocalInterface                  BITMAP "Images\localInterface.bmp"

DispInterfacesLabel             BITMAP "Images\DispInterfaceLabel.bmp"
PrivateDispInterface            BITMAP "Images\privateDispInterface.bmp"
ProtectedDispInterface          BITMAP "Images\protectedDispInterface.bmp"
PublicDispInterface             BITMAP "Images\publicDispInterface.bmp"
PublishedDispInterface          BITMAP "Images\publishedDispInterface.bmp"
LocalDispInterface              BITMAP "Images\localDispInterface.bmp"

PrivateConstantsLabel           BITMAP "Images\PrivateConstantsLabel.bmp"
ProtectedConstantsLabel         BITMAP "Images\ProtectedConstantsLabel.bmp"
PublicConstantsLabel            BITMAP "Images\PublicConstantsLabel.bmp"
PublishedConstantsLabel         BITMAP "Images\PublishedConstantsLabel.bmp"
LocalConstantsLabel             BITMAP "Images\LocalConstantsLabel.bmp"
PrivateConst                    BITMAP "Images\privateConst.bmp"
ProtectedConst                  BITMAP "Images\protectedConst.bmp"
PublicConst                     BITMAP "Images\publicConst.bmp"
PublishedConst                  BITMAP "Images\publishedConst.bmp"
LocalConst                      BITMAP "Images\localConst.bmp"

PrivateResourceStringsLabel     BITMAP "Images\PrivateResStringLabel.bmp"
ProtectedResourceStringsLabel   BITMAP "Images\ProtectedResStringLabel.bmp"
PublicResourceStringsLabel      BITMAP "Images\PublicResStringLabel.bmp"
PublishedResourceStringsLabel   BITMAP "Images\PublishedResStringLabel.bmp"
LocalResourceStringsLabel       BITMAP "Images\LocalResStringLabel.bmp"
PrivateResourceString           BITMAP "Images\privateResString.bmp"
PublicResourceString            BITMAP "Images\publicResString.bmp"
ProtectedResourceString         BITMAP "Images\protectedResString.bmp"
PublishedResourceString         BITMAP "Images\publishedResString.bmp"
LocalResourceString             BITMAP "Images\localResString.bmp"

PrivateVariablesLabel           BITMAP "Images\PrivateVarsLabel.bmp"
ProtectedVariablesLabel         BITMAP "Images\ProtectedVarsLabel.bmp"
PublicVariablesLabel            BITMAP "Images\PublicVarsLabel.bmp"
PublishedVariablesLabel         BITMAP "Images\PublishedVarsLabel.bmp"
LocalVariablesLabel             BITMAP "Images\LocalVarsLabel.bmp"
PublishedVariable               BITMAP "Images\publishedVar.bmp"
PublicVariable                  BITMAP "Images\publicVar.bmp"
ProtectedVariable               BITMAP "Images\protectedVar.bmp"
PrivateVariable                 BITMAP "Images\privateVar.bmp"
LocalVariable                   BITMAP "Images\localVar.bmp"

PublicThreadVarsLabel           BITMAP "Images\PublicThreadVarsLabel.bmp"
PrivateThreadVar                BITMAP "Images\privateThreadVar.bmp"
ProtectedThreadVar              BITMAP "Images\protectedThreadVar.bmp"
PublicThreadVar                 BITMAP "Images\publicThreadVar.bmp"
PublishedThreadVar              BITMAP "Images\publishedThreadVar.bmp"
LocalThreadVar                  BITMAP "Images\localThreadVar.bmp"

ExportedHeadingsLabel           BITMAP "Images\ExportedHeadingsLabel.bmp"

ExportedFunctionsLabel          BITMAP "Images\ExportsLabel.bmp"
PrivateExportedFunction         BITMAP "Images\privateExportedFunction.bmp"
ProtectedExportedFunction       BITMAP "Images\protectedExportedFunction.bmp"
PublicExportedFunction          BITMAP "Images\publicExportedFunction.bmp"
PublishedExportedFunction       BITMAP "Images\publishedExportedFunction.bmp"
LocalExportedFunction           BITMAP "Images\localExportedFunction.bmp"

PrivateLabelsLabel              BITMAP "Images\PrivateLabelsLabel.bmp"
ProtectedLabelsLabel            BITMAP "Images\ProtectedLabelsLabel.bmp"
PublicLabelsLabel               BITMAP "Images\PublicLabelsLabel.bmp"
PublishedLabelsLabel            BITMAP "Images\PublishedLabelsLabel.bmp"
LocalLabelsLabel                BITMAP "Images\LocalLabelsLabel.bmp"
LocalLabel                      BITMAP "Images\LocalLabel.bmp"
PrivateLabel                    BITMAP "Images\PrivateLabel.bmp"
ProtectedLabel                  BITMAP "Images\ProtectedLabel.bmp"
PublicLabel                     BITMAP "Images\PublicLabel.bmp"
PublishedLabel                  BITMAP "Images\PublishedLabel.bmp"

ImplementedMethodsLabel         BITMAP "Images\ImplementedMethodsLabel.bmp"

InitializationLabel             BITMAP "Images\Initialization.bmp"
FinalizationLabel               BITMAP "Images\Finalization.bmp"

ToDoFolder                      BITMAP "Images\todoFolder.bmp"
ToDoItem                        BITMAP "Images\todoItem.bmp"

UnknownClsObj                   BITMAP "Images\UnknownClsObj.bmp"

MethodsLabel                    BITMAP "Images\MethodsLabel.bmp"


