/*

  This is a Windows Resource File which generates a list of BitMaps for use
  In the Explorer Tree View.

*/
NoneMask                   BITMAP "\HoylD\RAD Studio\IDE Addins\BrowseAndDocIt\Images\NoneMask.bmp"
GlobalMask                 BITMAP "\HoylD\RAD Studio\IDE Addins\BrowseAndDocIt\Images\GlobalMask.bmp"
LocalMask                  BITMAP "\HoylD\RAD Studio\IDE Addins\BrowseAndDocIt\Images\LocalMask.bmp"
PrivateMask                BITMAP "\HoylD\RAD Studio\IDE Addins\BrowseAndDocIt\Images\PrivateMask.bmp"
ProtectedMask              BITMAP "\HoylD\RAD Studio\IDE Addins\BrowseAndDocIt\Images\ProtectedMask.bmp"
PublicMask                 BITMAP "\HoylD\RAD Studio\IDE Addins\BrowseAndDocIt\Images\PublicMask.bmp"
PublishedMask              BITMAP "\HoylD\RAD Studio\IDE Addins\BrowseAndDocIt\Images\PublishedMask.bmp"
FriendMask                 BITMAP "\HoylD\RAD Studio\IDE Addins\BrowseAndDocIt\Images\FriendMask.bmp"

Module                     BITMAP "\HoylD\RAD Studio\IDE Addins\BrowseAndDocIt\Images\Module.bmp"

DocConflictFolder          BITMAP "\HoylD\RAD Studio\IDE Addins\BrowseAndDocIt\Images\DocConflictFolder.bmp"
DocConflictIncorrect       BITMAP "\HoylD\RAD Studio\IDE Addins\BrowseAndDocIt\Images\DocConflictIncorrect.bmp"
DocConflictItem            BITMAP "\HoylD\RAD Studio\IDE Addins\BrowseAndDocIt\Images\DocConflictItem.bmp"
DocConflictMissing         BITMAP "\HoylD\RAD Studio\IDE Addins\BrowseAndDocIt\Images\DocConflictMissing.bmp"

ErrorFolder                BITMAP "\HoylD\RAD Studio\IDE Addins\BrowseAndDocIt\Images\errorFolder.bmp"
Error                      BITMAP "\HoylD\RAD Studio\IDE Addins\BrowseAndDocIt\Images\error.bmp"
WarningFolder              BITMAP "\HoylD\RAD Studio\IDE Addins\BrowseAndDocIt\Images\WarningFolder.bmp"
Warning                    BITMAP "\HoylD\RAD Studio\IDE Addins\BrowseAndDocIt\Images\Warning.bmp"
HintFolder                 BITMAP "\HoylD\RAD Studio\IDE Addins\BrowseAndDocIt\Images\HintFolder.bmp"
Hint                       BITMAP "\HoylD\RAD Studio\IDE Addins\BrowseAndDocIt\Images\Hint.bmp"

UsesLabel                  BITMAP "\HoylD\RAD Studio\IDE Addins\BrowseAndDocIt\Images\UsesLabel.bmp"
UsesItem                   BITMAP "\HoylD\RAD Studio\IDE Addins\BrowseAndDocIt\Images\UsesItem.bmp"

PublicTypesLabel           BITMAP "\HoylD\RAD Studio\IDE Addins\BrowseAndDocIt\Images\PublicTypesLabel.bmp"
PublicType                 BITMAP "\HoylD\RAD Studio\IDE Addins\BrowseAndDocIt\Images\PublicType.bmp"

RecordsLabel               BITMAP "\HoylD\RAD Studio\IDE Addins\BrowseAndDocIt\Images\RecordLabel.bmp"
PublicRecord               BITMAP "\HoylD\RAD Studio\IDE Addins\BrowseAndDocIt\Images\publicRecord.bmp"

FieldsLabel                BITMAP "\HoylD\RAD Studio\IDE Addins\BrowseAndDocIt\Images\FieldsLabel.bmp"
PublicField                BITMAP "\HoylD\RAD Studio\IDE Addins\BrowseAndDocIt\Images\publicField.bmp"

ObjectsLabel               BITMAP "\HoylD\RAD Studio\IDE Addins\BrowseAndDocIt\Images\ObjectLabel.bmp"
publicObject               BITMAP "\HoylD\RAD Studio\IDE Addins\BrowseAndDocIt\Images\publicObject.bmp"

PublicConstructor          BITMAP "\HoylD\RAD Studio\IDE Addins\BrowseAndDocIt\Images\publicConstructor.bmp"
PublicDestructor           BITMAP "\HoylD\RAD Studio\IDE Addins\BrowseAndDocIt\Images\publicDestructor.bmp"
PublicFunction             BITMAP "\HoylD\RAD Studio\IDE Addins\BrowseAndDocIt\Images\publicFunction.bmp"
PublicProcedure            BITMAP "\HoylD\RAD Studio\IDE Addins\BrowseAndDocIt\Images\publicProcedure.bmp"

ClassesLabel               BITMAP "\HoylD\RAD Studio\IDE Addins\BrowseAndDocIt\Images\ClassLabel.bmp"
PublicClass                BITMAP "\HoylD\RAD Studio\IDE Addins\BrowseAndDocIt\Images\publicClass.bmp"

PropertyLabel              BITMAP "\HoylD\RAD Studio\IDE Addins\BrowseAndDocIt\Images\PropertyLabel.bmp"
PublicProperty             BITMAP "\HoylD\RAD Studio\IDE Addins\BrowseAndDocIt\Images\publicProperty.bmp"

InterfacesLabel            BITMAP "\HoylD\RAD Studio\IDE Addins\BrowseAndDocIt\Images\InterfaceLabel.bmp"
PublicInterface            BITMAP "\HoylD\RAD Studio\IDE Addins\BrowseAndDocIt\Images\publicInterface.bmp"

DispInterfacesLabel        BITMAP "\HoylD\RAD Studio\IDE Addins\BrowseAndDocIt\Images\DispInterfaceLabel.bmp"
PublicDispInterface        BITMAP "\HoylD\RAD Studio\IDE Addins\BrowseAndDocIt\Images\publicDispInterface.bmp"

PublicConstantsLabel       BITMAP "\HoylD\RAD Studio\IDE Addins\BrowseAndDocIt\Images\PublicConstantsLabel.bmp"
PublicConst                BITMAP "\HoylD\RAD Studio\IDE Addins\BrowseAndDocIt\Images\publicConst.bmp"

PublicResourceStringsLabel BITMAP "\HoylD\RAD Studio\IDE Addins\BrowseAndDocIt\Images\PublicResStringLabel.bmp"
PublicResourceString       BITMAP "\HoylD\RAD Studio\IDE Addins\BrowseAndDocIt\Images\publicResString.bmp"

PublicVariablesLabel       BITMAP "\HoylD\RAD Studio\IDE Addins\BrowseAndDocIt\Images\PublicVarsLabel.bmp"
PublicVariable             BITMAP "\HoylD\RAD Studio\IDE Addins\BrowseAndDocIt\Images\publicVar.bmp"

PublicThreadVarsLabel      BITMAP "\HoylD\RAD Studio\IDE Addins\BrowseAndDocIt\Images\PublicThreadVarsLabel.bmp"
PublicThreadVar            BITMAP "\HoylD\RAD Studio\IDE Addins\BrowseAndDocIt\Images\publicThreadVar.bmp"

PublicClassVariablesLabel  BITMAP "\HoylD\RAD Studio\IDE Addins\BrowseAndDocIt\Images\PublicClassVarsLabel.bmp"
PublicClassVariable        BITMAP "\HoylD\RAD Studio\IDE Addins\BrowseAndDocIt\Images\publicClassVar.bmp"

ExportedHeadingsLabel      BITMAP "\HoylD\RAD Studio\IDE Addins\BrowseAndDocIt\Images\ExportedHeadingsLabel.bmp"

ExportedFunctionsLabel     BITMAP "\HoylD\RAD Studio\IDE Addins\BrowseAndDocIt\Images\ExportsLabel.bmp"
PublicExportedFunction     BITMAP "\HoylD\RAD Studio\IDE Addins\BrowseAndDocIt\Images\publicExportedFunction.bmp"

PublicLabelsLabel          BITMAP "\HoylD\RAD Studio\IDE Addins\BrowseAndDocIt\Images\PublicLabelsLabel.bmp"
PublicLabel                BITMAP "\HoylD\RAD Studio\IDE Addins\BrowseAndDocIt\Images\PublicLabel.bmp"

ImplementedMethodsLabel    BITMAP "\HoylD\RAD Studio\IDE Addins\BrowseAndDocIt\Images\ImplementedMethodsLabel.bmp"

InitializationLabel        BITMAP "\HoylD\RAD Studio\IDE Addins\BrowseAndDocIt\Images\Initialization.bmp"
FinalizationLabel          BITMAP "\HoylD\RAD Studio\IDE Addins\BrowseAndDocIt\Images\Finalization.bmp"

ToDoFolder                 BITMAP "\HoylD\RAD Studio\IDE Addins\BrowseAndDocIt\Images\todoFolder.bmp"
ToDoItem                   BITMAP "\HoylD\RAD Studio\IDE Addins\BrowseAndDocIt\Images\todoItem.bmp"

UnknownClsObj              BITMAP "\HoylD\RAD Studio\IDE Addins\BrowseAndDocIt\Images\UnknownClsObj.bmp"

MethodsLabel               BITMAP "\HoylD\RAD Studio\IDE Addins\BrowseAndDocIt\Images\MethodsLabel.bmp"

