/*

  This is a Windows Resource File which generates a list of BitMaps for use
  In the Explorer Tree View.

*/
NoneMask                   BITMAP "..\Images\NoneMask.bmp"
GlobalMask                 BITMAP "..\Images\GlobalMask.bmp"
LocalMask                  BITMAP "..\Images\LocalMask.bmp"
PrivateMask                BITMAP "..\Images\PrivateMask.bmp"
ProtectedMask              BITMAP "..\Images\ProtectedMask.bmp"
PublicMask                 BITMAP "..\Images\PublicMask.bmp"
PublishedMask              BITMAP "..\Images\PublishedMask.bmp"
FriendMask                 BITMAP "..\Images\FriendMask.bmp"

Module                     BITMAP "..\Images\Module.bmp"

ErrorFolder                BITMAP "..\Images\errorFolder.bmp"
Error                      BITMAP "..\Images\error.bmp"
WarningFolder              BITMAP "..\Images\WarningFolder.bmp"
Warning                    BITMAP "..\Images\Warning.bmp"
HintFolder                 BITMAP "..\Images\HintFolder.bmp"
Hint                       BITMAP "..\Images\Hint.bmp"

DocConflictFolder          BITMAP "..\Images\DocConflictFolder.bmp"
DocConflictIncorrect       BITMAP "..\Images\DocConflictIncorrect.bmp"
DocConflictItem            BITMAP "..\Images\DocConflictItem.bmp"
DocConflictMissing         BITMAP "..\Images\DocConflictMissing.bmp"

MetricCheckFolder          BITMAP "..\Images\MetricCheckFolder.bmp"
MetricCheckIncorrect       BITMAP "..\Images\MetricCheckIncorrect.bmp"
MetricCheckItem            BITMAP "..\Images\MetricCheckItem.bmp"
MetricCheckMissing         BITMAP "..\Images\MetricCheckMissing.bmp"

UsesLabel                  BITMAP "..\Images\UsesLabel.bmp"
UsesItem                   BITMAP "..\Images\UsesItem.bmp"

PublicTypesLabel           BITMAP "..\Images\PublicTypesLabel.bmp"
PublicType                 BITMAP "..\Images\PublicType.bmp"

RecordsLabel               BITMAP "..\Images\RecordLabel.bmp"
PublicRecord               BITMAP "..\Images\publicRecord.bmp"

FieldsLabel                BITMAP "..\Images\FieldsLabel.bmp"
PublicField                BITMAP "..\Images\publicField.bmp"

ObjectsLabel               BITMAP "..\Images\ObjectLabel.bmp"
publicObject               BITMAP "..\Images\publicObject.bmp"

PublicConstructor          BITMAP "..\Images\publicConstructor.bmp"
PublicDestructor           BITMAP "..\Images\publicDestructor.bmp"
PublicFunction             BITMAP "..\Images\publicFunction.bmp"
PublicProcedure            BITMAP "..\Images\publicProcedure.bmp"

ClassesLabel               BITMAP "..\Images\ClassLabel.bmp"
PublicClass                BITMAP "..\Images\publicClass.bmp"

PropertyLabel              BITMAP "..\Images\PropertyLabel.bmp"
PublicProperty             BITMAP "..\Images\publicProperty.bmp"

InterfacesLabel            BITMAP "..\Images\InterfaceLabel.bmp"
PublicInterface            BITMAP "..\Images\publicInterface.bmp"

DispInterfacesLabel        BITMAP "..\Images\DispInterfaceLabel.bmp"
PublicDispInterface        BITMAP "..\Images\publicDispInterface.bmp"

PublicConstantsLabel       BITMAP "..\Images\PublicConstantsLabel.bmp"
PublicConst                BITMAP "..\Images\publicConst.bmp"

PublicResourceStringsLabel BITMAP "..\Images\PublicResStringLabel.bmp"
PublicResourceString       BITMAP "..\Images\publicResString.bmp"

PublicVariablesLabel       BITMAP "..\Images\PublicVarsLabel.bmp"
PublicVariable             BITMAP "..\Images\publicVar.bmp"

PublicThreadVarsLabel      BITMAP "..\Images\PublicThreadVarsLabel.bmp"
PublicThreadVar            BITMAP "..\Images\publicThreadVar.bmp"

PublicClassVariablesLabel  BITMAP "..\Images\PublicClassVarsLabel.bmp"
PublicClassVariable        BITMAP "..\Images\publicClassVar.bmp"

ExportedHeadingsLabel      BITMAP "..\Images\ExportedHeadingsLabel.bmp"

ExportedFunctionsLabel     BITMAP "..\Images\ExportsLabel.bmp"
PublicExportedFunction     BITMAP "..\Images\publicExportedFunction.bmp"

PublicLabelsLabel          BITMAP "..\Images\PublicLabelsLabel.bmp"
PublicLabel                BITMAP "..\Images\PublicLabel.bmp"

ImplementedMethodsLabel    BITMAP "..\Images\ImplementedMethodsLabel.bmp"

InitializationLabel        BITMAP "..\Images\Initialization.bmp"
FinalizationLabel          BITMAP "..\Images\Finalization.bmp"

ToDoFolder                 BITMAP "..\Images\todoFolder.bmp"
ToDoItem                   BITMAP "..\Images\todoItem.bmp"

UnknownClsObj              BITMAP "..\Images\UnknownClsObj.bmp"

MethodsLabel               BITMAP "..\Images\MethodsLabel.bmp"

