/*

  This is a Windows Resource File which generates a Splash Screen Icons for the
  RAD Studio IDEs.

  @Author  David Hoyle
  @Version 1.0
  @Date    30 Sep 2016

*/
BrowseAndDocItSplashScreenBitMap48x48 BITMAP "Icons\Browse And Doc It 48x48 Icon.bmp"
BrowseAndDocItSplashScreenBitMap24x24 BITMAP "Icons\Browse And Doc It 24x24 Icon.bmp"

